@media (max-width: 820px){
    .img-slider{
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info{
        padding: 10px 25px;
    }
    
    .img-slider .slide .info h2{
        padding: 35px;
    }
    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation{
        bottom: 25px;
    }

    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info{
        padding: 10px 20px;
    }
    
    .img-slider .slide .info h2{
        padding: 30px;
    }
    .img-slider .slide .info p{
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navigation{
        bottom: 15px;
    }

    .img-slider .navigation .btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px){
    .img-slider{
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info{
        padding: 5px 10px;
    }
    
    .img-slider .slide .info h2{
        padding: 25px;
    }
    .img-slider .slide .info p{
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navigation{
        bottom: 10px;
    }
}